@import "./mixins.scss";
@import "./variables.scss";

.container {
  // border: 2px solid red;
  margin-top: 2rem;
  .containerRow {
    // border: 2px solid blue;
    align-items: center;
    margin: auto;
  }
}
