//! IMPORTS

@import url("https://fonts.googleapis.com/css2?family=Niconne&display=swap");

//! COLORS

$rich-blue: #011526;
$rich-yellow: #f2b872;
$rich-orange: #a65f21;
$rich-cream: #d9a87e;
$rich-brown: #593825;
$petrol-blue: #022026;
$white-color: #f2eeeb;
$black-color: #080808;
$gold-color: #d9aa1e;
$dollar-green: #86a68b;
$euro-blue: #5e83f2;

//! FONT FAMILY

$font-family: "Niconne", serif;
